body{
  background-color: #e8e8e8;
}
.dataBar{

  height: auto;
  margin: .7rem;
  box-shadow: .2rem .2rem .4rem #000000;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
}
.mapPane{
  margin-top: -1rem;
  margin-left: 2.4rem;
  background-color: rgb(225, 225, 225);
  height: 45rem;
  box-shadow: .1rem .1rem .1rem 0rem #000000;
  z-index: -1;
  border-top: .1rem solid black;
  border-left: .1rem solid black;
  display: none;
  border-radius: 1rem;
}
.mapRow{
  width: 100%;
}
.optionsPane:hover{
  opacity: 1.0;
}
.optionsPane{
  float: right;
  margin-left: -5rem;
  display: none;
  height: auto;
  box-shadow: .2rem .2rem .4rem .2rem #000000;
  border: .1rem solid black;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
}
.optionsBlur{
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  height: 1rem;
  position: sticky;
  bottom: 0;
}
.cityHeader:hover{
  background-color: #FFFFFF;
}
.listItem{
  text-align: left;

}
.listItemWT{
  text-align: center;
  border-top: .1rem solid black;
}
.listItemW{
  width:auto;
  background-color: #f6f1f1;
  box-shadow: .1rem .1rem .2rem .1rem #000000;
}
.listValue{
  text-align: left;
}
.cityHeader{
  box-shadow: .2rem .1rem .2rem .1rem #000000;

  background-color: rgb(235, 235, 235);
  margin-bottom: .2rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
}
.mainBtnDiv{

  margin-left: 2.5rem;
}
.zipIn{
  padding: .5rem;
  text-align: left;
}
.zipText{
  padding: .2rem;
  text-align: left;
}
.startZip{
  width:2rem;
}
.dataInfo{
  text-align: center;
  margin-left: 4rem;
}
#dataItems{
  margin-left: 4rem;
  text-align: center;
}
